h2 {
    text-align: center;
    display: block;
}

h3 {
    text-align: center;
    display: block;
}

.search_form-container {
    width: 50%;
    margin-right: auto;
    margin-left:auto;
    margin: auto;
    align-self: center;
    text-align: center;
    display: flex;
    justify-content: center;
    display: block;
}

.search-form {
    align-self: center;
    text-align: center;
    display: block;
}

.filter_form-container {
    width: 50%;
    margin-right: auto;
    margin-left:auto;
    margin: auto;
    align-self: center;
    text-align: center;
    display: flex;
    justify-content: center;
    display: block;
}

.filter-form {
    align-self: center;
    text-align: center;
    display: block;
}

.results-container{
    display: block;
    text-align: left;
}


