/* body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #151b29;
} */

h1 {
    padding-left: 15px;
    padding-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 800;
    font-optical-sizing: auto;
    font-style: bold;
}

h3 {
  padding-left: 45px;
  padding-top: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-optical-sizing: auto;
  font-style: bold;
}

nav {
    background-color: #457b9d
}

button {
  background: none;
  color:#f7ede2;
  border: 2px solid;
  border-radius: 10px;
  padding: 1em 2.5em;
  font-size: 1em;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s,transform 0.25s;
}

button:hover {
  border-color: #f1ff5c;
  border-radius: 10px;
  background: #219ebc ;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.15em);
  cursor: pointer;
}

img {
  width: 30%;
  /* margin: 1.6666666%; */
  margin: 5%;
}

.pictures {
  padding-top: 50px;
  text-align: center;
  align-items: center;
}