/* body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #151b29;
} */

h1 {
    padding-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    font-optical-sizing: auto;
    font-style: bold;
}

h4 {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  font-optical-sizing: auto;
  font-style: bold;
}

nav {
    background-color: #457b9d;
}

#navbar {
  padding-top: 10px;
}

label {
  background: none;
  color:#f7ede2;
  border: 2px solid;
  border-radius: 10px;
  padding: 1em 2.5em;
  font-size: 1em;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s,transform 0.25s;
}

label:hover {
  border-color: #f1ff5c;
  border-radius: 10px;
  background: #219ebc ;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.15em);
  cursor: pointer;
}

#catalog {
  background: #457b9d;
  color:#edf2f4;
  border: 2px solid;
  border-radius: 10px;
  padding: 1em 2.5em;
  font-size: 1em;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s,transform 0.25s;
  font-style: bold;
}

#catalog:hover {
  border-color: #457b9d;
  border-radius: 10px;
  background: #219ebc ;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #90dbf4;
  transform: translateY(-0.25em);
  cursor: pointer;
  font-style: bold;
}

#ai {
  background: #457b9d;
  color:#edf2f4;
  border: 2px solid;
  border-radius: 10px;
  padding: 1em 2.5em;
  font-size: 1em;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s,transform 0.25s;
  font-style: bold;
}

#ai:hover {
  border-color: #457b9d;
  border-radius: 10px;
  background: #219ebc ;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #90dbf4;
  transform: translateY(-0.25em);
  cursor: pointer;
  font-style: bold;
}

#bttns {
  padding-top: 30px;
}

/* Profile Link Styles */
#profileLink {
  margin-right: 10px; /* Adjust this value as needed to reduce the margin */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none; /* Ensures the link does not look like a typical hyperlink */
}

/* Adjust the label within the profile link */
#profileLink label {
  margin: 0; /* Removes any default margin */
  padding: 10px 20px; /* Adjust padding to suit your design, already defined but reiterated for clarity */
  background: none;
  border: 2px solid;
  border-radius: 10px;
  font-size: 1em;
  transition: all 0.25s ease;
}

#profileLink label:hover {
  border-color: #f1ff5c;
  background: #219ebc;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.15em);
}

/* Ensuring the SVG icon aligns nicely with the text */
#profileLink svg {
  margin-left: 5px; /* Adds a small space between the text and the icon */
  vertical-align: middle; /* Aligns the icon vertically with the text */
}
